* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
 }

 body {
    font-family: sans-serif;
 }

.header {
    width: 100%;
    height: 80px;
    border-bottom: solid 1px black;
    display: block;
    position: sticky;
}

.logo-container {
    height: 100%;
    float: left;
    display: block;
    
}

.logo-container img {
    height: 50%;
    margin-top: 20px;
    margin-left: 300px;
}




.get-started {
    border: 0;
    background-color: green;
    border-radius: 100px;
    width: 100px;
    height: 35px;
    color: white;
}

.nav-container {
    float: right;
    height: 100%;
    margin-right: 300px;
}

.nav-container a {
    height: 100%;
    display: table;
    padding: 0px 10px;
    float: left;
    
}

.nav-container a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
 
}

.main-section {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin-top: 60px;
    justify-content: center;
}

.main-left-section {
    display: flex;
    flex-direction: column;
     
}

.section-container {
    display: flex;
    flex-direction: row;
    height: 135.5px;
    width: 695.33px;
    
    margin-top: 25px;
    margin-bottom: 25px;
}

.text-content {
    width: 70%;
    justify-content: flex-start;
    height: 100%;

}
.main-text h2 {
    font-size: large;
    
}


.main-text p {
    font-size: 15px;
    font-weight: 400;
}

.section-header {
    height: 21%;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    font-size: medium;
}

h5 {
    margin-left: 5px;
}
.section-header p {
    margin-left: 5px;
    color: #75758A;
}


.main-text {
    height: 54%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-text p {
    margin-top: 5px;
    color: #75758A;
}

.section-footer {
    height: 25%;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    color: #75758A;
    font-size: small;
}



.point {
    height: 90%;
    font-size: large;
    margin: 5px;
}

.section-footer p {
    align-self: center;
}

.star {
    margin-top: 15px;
    margin-left: 10px;
}

.image-content {
    width: 30%;
    justify-content: flex-end;
    margin-left: 30px;
   
}

.image-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.propic {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.topics {
    background-color: #E6E6E6;
    color: #75758A;
    border-radius: 50px;
    border: none;
    height: 30px;
    width: 60px;
}

.main-right-section {
    display: flex;
    width: 397.34px;
    height: 351px;
    background-color: red;
    margin-left: 100px;
}